:root {
    --red: #9A0C0C;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fontes */
body {
    font-family: "Poppins", sans-serif; /* sans-serif = fonte sem serifa,*/
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Header - Cabeçalho */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--red);
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 4px;
}

header nav ul li + li a {
    margin-left: 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

/* Main - Conteúdo */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container {
    flex-direction: column;
}

/* Título Noticias Recentes */

main h1 {
    text-align: left;
    width: 100%;
    margin: 20px 0;
    font-size: 36px;
}

main .news .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 184px 184px;
    grid-template-areas: 
        'primary secondary'
        'primary tertiary';
    grid-gap: 10px;
}

main .news .content div {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* nth-child serve para selecionar 1 unico item */
main .news .content div:nth-child(1) {
    grid-area: primary;
}

main .news .content div:nth-child(2) {
    grid-area: secondary;
}

main .news .content div:nth-child(3) {
    grid-area: tertiary;
}

main .news .content div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .news .content div .info {
    position: absolute;
    bottom: -50%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;

    transition: bottom .6s ease-in;
}

main .news .content div:hover .info {
    bottom: 0;
}

/* Link para o Mapa */
span.mapa {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

span.mapa a {
    text-decoration: none;
    color: var(--red);
    transition: color 200ms; /* 200ms ou 0.2s */
}
span.mapa a:hover {
    color: #f00;
}
/* Footer - Rodapé */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    padding: 10px 0;
    background: var(--red);
    color: #fff;
}