:root {
  --red: #9a0c0c;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fontes */
body {
  font-family: "Poppins", sans-serif; /* sans-serif = fonte sem serifa,*/
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Header - Cabeçalho */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--red);
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
}

header nav ul li + li a {
  margin-left: 10px;
}

header nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

/* Main - Conteúdo */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container {
  flex-direction: column;
}

/* Título Noticias Recentes */

main h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}

.news {
  width: 100%;
}

.news .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news .content article {
  width: 100%;
  max-width: 720px;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
}

.news .content article.single h1 {
  margin-bottom: 0;
}

.news .content article + article {
  border-top: 1px solid #999;
}

.news .content article .info {
  display: flex;
  align-items: center;
  margin: 5px 0 10px;
}

.news .content article.single .info {
  margin: 0 0 60px;
  justify-content: center;
}

.news .content article h2 a {
  color: #ff0000;
  transition: color 0.2s;
  text-decoration: none;
}

.news .content article h2 a:hover {
  color: var(--red);
}

.news .content article .info span {
  color: #999;
  font-size: 14px;
}

.news .content article .info span + span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #999;
}

.news .content article p {
  text-align: justify;
  color: #666;
}

.news .content article.single p {
  font-size: 18px;
  line-height: 28px;
}

.news .content article.single p + p {
  margin-top: 1.5rem;
}

/* Página do Mapa */

main .map {
  width: 100%;
}

main .map .content .covid-map {
  width: 100%;
  min-height: 600px;
}

main .map .content .covid-map .covid-fonte {
  color: #333;
  font-size: 14px;
}

main .map .content .covid-map .covid-fonte a {
  color: var(--red);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

main .map .content .covid-map .covid-fonte a:hover {
  opacity: 1;
}

/* Link para o Mapa */
span.link {
  margin: 40px 0 20px;
}

span.link a {
  text-decoration: none;
  color: var(--red);
  transition: color 200ms; /* 200ms ou 0.2s */
}
span.link a:hover {
  color: #f00;
}
/* Footer - Rodapé */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  padding: 10px 0;
  background: var(--red);
  color: #fff;
}
